/* About */

.about {
  display: block;
}

@media (width >= 1200px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}

/* about __values */
.about__values {
  color: var(--light-gray);
}
