/* About */

.about {
  display: block;
}

@media (width >= 768px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-x);
  }
}

/* @media (width >= 1025px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-x);
  }
} */

/* about __values */
.about__values {
  color: var(--light-gray);
}
