/* Advantages */

.advantages__accent {
  font-size: 1.875rem;
  text-transform: uppercase;
  color: var(--light-gray);
  border-top: 1px solid var(--light-green);
  border-bottom: 1px solid var(--light-green);
  padding: var(--gap-1) 0;
}
