/* Advantages */

.advantages__lead {
  font-size: 1.875rem;
  border-top: 1px solid var(--light-green);
  border-bottom: 1px solid var(--light-green);
  padding: var(--gap-1) 0;
}

.advantages__list {
  border-bottom: 1px solid var(--light-green);
}

.advantages__item {
  border: none;
  padding-bottom: 0;
}
