.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: normal;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: var(--green);
}

@media (width >= 1200px) {
  .title {
    font-size: 3.75rem;
  }
}

.lead {
  text-transform: uppercase;
  color: var(--light-gray);
}

@media (width >= 1200px) {
  .lead {
    font-size: 2.5rem;
  }
}

.up-btn {
  color: var(--green);
}

.powered-by {
  font-size: 0.75rem;
  text-align: right;
  padding: 0 var(--page-x-paddings);
  max-width: calc(1240px + var(--page-x-paddings) * 2);
  margin: 0 auto;
}

h1,
h2,
p,
img {
  margin: 0 0 var(--gap-1);
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
  margin-bottom: 1em;
  padding: 0 1.5em 0.5em;
  border-bottom: 1px solid var(--light-green);
}

@media (width > 1200px) {
  ol li {
    padding: 0 0 0.5em 1.5em;
  }
}

ol li:last-child {
  margin-bottom: 0;
}

ol li::before {
  display: block;
  content: "0" counter(item) "/";
  counter-increment: item;
  font-size: 20px;
  font-style: italic;
  color: var(--light-gray);
  margin: 0 0 0.5em -1.5em;
}

@media (width > 1200px) {
  ol li::before {
    margin: 0 0 0.5em -2.3em;
  }
}

a {
  color: var(--white);
  text-decoration: none;
}
