.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: normal;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: var(--green);
}

.lead {
  text-transform: uppercase;
  color: var(--light-gray);
}

.image {
  width: 100%;
}
