/* Hero */

.hero__team-name {
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--green);
}

.hero__description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: var(--gap-2);
}

.hero__accent {
  color: var(--green);
}
