/* Link Btn */
.link-btn {
  border: 1px solid var(--green);
  border-radius: 30px;
  padding: 0.5em 0.7em;
  font-size: 1.125rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  background: transparent;
  outline-offset: 5px;
}

.link-btn:hover {
  background-color: var(--green);
}
