/* Page header */
.page-header {
  position: sticky;
  top: 0;
  padding: 0.7em var(--page-x-paddings);
  max-width: calc(1240px + var(--page-x-paddings) * 2);
  margin: calc(var(--gap-1) - 0.7em) auto calc(var(--gap-1) - 0.7em + 15px);
  z-index: 1;
  background-color: var(--header-background-color);
  backdrop-filter: saturate(180%) blur(10px);
}

.page__body--nav-opened .page-header {
  backdrop-filter: none;
}
