/* Page */
.page {
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--green) var(--page-background-color);
  scroll-padding-top: 106px;
  scroll-behavior: smooth;
}

.page::-webkit-scrollbar {
  width: 5px;
}

.page::-webkit-scrollbar-track {
  background-color: transparent;
}

.page::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 5px;
}

/* Page Body */
.page__body {
  font-family: "Neue Montreal", Arial, sans-serif;
  background-color: var(--page-background-color);
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0;
}

@media (width <= 1024px) {
  .page__body--nav-opened {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
  }
}

@media (width >= 1025px) {
  .page__body {
    font-size: 1.875rem;
  }
}

/* Page Main */
.page__main {
  padding: 0 var(--page-x-paddings);
  max-width: calc(1240px + var(--page-x-paddings) * 2);
  margin: 0 auto;
}

/* Page Section */
.page__section {
  margin-bottom: var(--gap-2);
}

/* Page Footer */
.page__footer {
  border-top: 1px solid var(--light-green);
  border-bottom: 1px solid var(--light-green);
}
