/* Page */

.page {
  margin: 0;
}

.page__body {
  margin: 0;
  font-family: "Neue Montreal", Arial, sans-serif;
  background-color: var(--page-background-color);
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
}

.page__main {
  padding: 0 var(--page-x-paddings);
}

.page__section {
  margin-bottom: var(--gap-2);
}
