/* Site list */
.site-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1) 40px;
}

@media (width >= 1200px) {
  .site-list {
    flex-flow: row wrap;
  }
}

/* Site list Item */
.site-list__item a {
  padding: 9px;
  display: block;
  box-sizing: border-box;
  font-size: 1.125rem;
  min-width: 115px;
  text-align: center;
}

@media (width < 1200px) {
  .site-list__item a {
    border: 1px solid var(--black);
    color: var(--black);
  }
}

@media (width >= 1200px) {
  .site-list__item:first-child {
    display: none;
  }
}
