.site-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.site-list__item a {
  display: block;
  text-align: center;
  padding: 9px;
  box-sizing: border-box;
  min-width: 115px;
  border: 1px solid var(--black);
  border-radius: 30px;
  color: var(--black);
  font-size: 1.125rem;
  text-transform: uppercase;
}
