/* Social list */
.social-list {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  width: 100%;
  padding-top: 28px;
  border-top: 1px solid var(--black);
}

@media (width >= 1200px) {
  .social-list {
    display: none;
  }
}

/* Social list Item */
.social-list__item a {
  color: var(--black);
  font-weight: 500;
}
